<h1>Добавить курс</h1>
<br>
<form action="./add" method="post">
    <div class="input-field">
          <input name="name" placeholder="Enter" id="first_name" type="text" class="validate" required>
          <label for="first_name">Course Name</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
    </div>
    <div class="input-field">
          <input name="cost" placeholder="Enter" id="first_name" type="number" class="validate" required>
          <label for="first_name">Course Cost</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
    </div>
    <div class="input-field">
          <input name="img" placeholder="Enter" id="first_name" type="text" class="validate" required>
          <label for="first_name">Course img</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
    </div>
    <button class="btn btn-primary">Send</button>
</form>